.landing-page-container .footer-container {
    background-color: var(--dark-blue);
}

.landing-page-container .footer-container .footer-row {
    padding: 0px 15px;
}

.landing-page-container .footer-container .footer-row .footer-cols {
    height: 275px;
}

.landing-page-container .footer-container .footer-row .footer-hr {
    height: 2px;
}

.landing-page-container .footer-container .footer-row .footer-cols .product-list {
    gap: 8px;
}

.landing-page-container .footer-container .footer-row .footer-cols .social-icons {
    gap: 16px;
}

.landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list .list-para,
.landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list .list-item,
.landing-page-container .footer-container .footer-row .footer-cols .product-list .list-item {
    font-size: var(--xsmall-font);
    color: var(--off-white);
}

.landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list {
    gap: 20px;
}

.landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list .list-tag {
    font-size: var(--small-font);
}

.landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list .list-para {
    max-width: 200px;
}

.landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list .list-item .list-para .list-text {
    cursor: pointer;
}

.landing-page-container .footer-container .footer-row .footer-cols .product-list .list-item .links:hover,
.landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list .list-item .list-para .list-text:hover {
    color: var(--light-blue) !important;
}


@media only screen and (max-width: 991px) {
    .landing-page-container .footer-container .footer-row .footer-cols {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .landing-page-container .footer-container .footer-row .footer-cols {
        height: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .landing-page-container .footer-container .footer-row .footer-cols .social-icons {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 575px) {
    .landing-page-container .footer-container .footer-row {
        margin: auto 15px;
    }

    .landing-page-container .footer-container .footer-row .footer-cols {
        margin-top: 30px !important;
        height: auto !important;
    }

    .landing-page-container .footer-container .footer-row .footer-cols .social-icons {
        margin-bottom: 55px;
    }

    .landing-page-container .footer-container .footer-row .footer-cols .footer-contact .contact-list .list-item .list-text {
        width: 65%;
    }
}