/* Landing Page CSS */

.landing-page-container .hero-wrapper {
    background-image: url('../Images/hero-bg.svg');
    background-size: 870px 860px !important;
    background-position: top right -19%;
    background-repeat: no-repeat;
}

/* Hero-Section CSS */

.landing-page-container .hero-wrapper .hero .hero-section {
    height: 770px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head {
    max-width: 390px;
    margin-left: 128px;
    margin-top: 55px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-img-container .hero-img {
    margin-left: 10%;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .hero-heading .text-easily .line-curve {
    bottom: -10px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .os-imgs {
    gap: 11.51px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card {
    background: var(--primary-white);
    border-radius: 12px;
    box-shadow: 0px 6px 12px 0px #135EAC1F;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item .search-content {
    padding-left: 8px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item {
    padding: 13px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-button .search-text {
    padding: 11px 50px !important;
    background-color: var(--primary-blue);
    transition: 0.3s ease;
    border-radius: 8px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-button .search-text:hover {
    background-color: var(--primary-blue-dark);
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box >.search-item:nth-child(-n+2)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background: var(--light-gray-2);
}

/* Work Section */

.landing-page-container .main .section-work .how-it-work {
    width: 161px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
}

.landing-page-container .main .section-work .icon-container {
    width: 112px;
    height: 112px;
    background-color: var(--light-cyan);
    border-radius: 16px;
}

.landing-page-container .main .section-work .card-para {
    max-width: 230px;
    color: var(--dark-gray);
}

.landing-page-container .main .section-work .card-head {
    margin-bottom: 10px;
}

.landing-page-container .main .section-work .brand-slider {
    margin-top: 120px !important;
}

.landing-page-container .main .section-work .brand-slider:hover .brand-track {
    animation-play-state: paused;
}

.landing-page-container .main .section-work .brand-slider .brand-track {
    gap: 6rem;
    width: max-content;
    animation: scroll 40s linear infinite;
    will-change: transform;
}

.landing-page-container .main .section-work .brand-slider .brand-track .brand-logo {
    height: 70px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.landing-page-container .main .section-work .brand-slider .brand-track .brand-logo:hover {
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* WHY CHOOSE US Section */

.landing-page-container .main .section-why-choose-us {
    margin-top: 100px;
    height: 800px;
    background-image: url('../Images/arrow-up-bg.png');
    background-repeat: no-repeat;
    background-position: 0% 80%;
}

.landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .why-choose-us {
    width: 180px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
}

.landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .card-content .icon-container {
    width: 73px !important;
    height: 64px !important;
    background-color: var(--light-cyan);
    border-radius: 16px;
}

.landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two {
    padding-left: 34px;
}

/* Deals Section */

.landing-page-container .main .section-deals {
    margin: 70px auto;
}

.landing-page-container .main .section-deals .cards-row .card-container .btn-primary {
    background-color: var(--primary-blue) !important;
}

.landing-page-container .main .section-deals .cards-row .card-container .btn-primary:hover{
    background-color: var(--primary-blue-dark) !important;
}

.landing-page-container .main .section-deals .cards-row .card-container .card-img-container {
    height: 140px;
    border-radius: 16px;
}

.landing-page-container .main .section-deals .deals-heading .deals-head {
    width: 226px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
}

.landing-page-container .main .section-deals .show-container {
    width: 215px;
    height: 50px;
    margin-top: 70px;
    border-color: var(--light-gray-3) !important;
}

/* Testimonials Section */

.landing-page-container .main .section-testimonials {
    background-color: var(--light-blue);
    background-image: url('../Images/quote-left.png'), url('../Images/quote-right.png');
    background-repeat: no-repeat;
    background-position: 14% 15%, 88% 0%;
}

.landing-page-container .main .section-testimonials .testimonials-text {
    width: 161px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
    margin-top: 120px;
}

.landing-page-container .main .section-testimonials .card-slider .card-track .card-container {
    width: 794px;
    height: 438px;
    opacity: 0.9;
    transition: 0.3s ease;
}

.landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-img-container .card-img {
    border-radius: 24px 0px 0px 24px !important;
}

.landing-page-container .main .section-testimonials .card-slider {
    margin-bottom: 120px;
}

.landing-page-container .main .section-testimonials .card-slider:hover .card-track {
    animation-play-state: paused;
}

.landing-page-container .main .section-testimonials .card-slider .card-track {
    gap: 40px;
    width: max-content;
    animation: scroll 40s linear infinite;
    will-change: transform;
    margin-bottom: 35px;
}

.landing-page-container .main .section-testimonials .card-slider .card-track .card-container:hover {
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Download Section */

.landing-page-container .main .section-download {
    background-image: url('../Images/download-bg.png');
    background-repeat: no-repeat;
    background-size: 37% 100%;
}

.landing-page-container .main .section-download .download-container .download-placeholder {
    width: 146px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
    margin-top: 100px;
}

/* Media Queries - Landing Page */

@media only screen and (max-width: 1500px) {
    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card {
        width: 75% !important;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .offer-text {
        font-size: var(--medium-font);
        width: 90% !important;
    }
    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .card-content .card-subhead {
        width: 75% !important;       
    }

}

@media only screen and (max-width: 1399px) {
    .landing-page-container .hero-wrapper {
        background-size: 650px 790px !important;
    }
    .landing-page-container .main .section-work .rent-steps,
    .landing-page-container .main .section-deals .deals-heading .deals-subhead,
    .landing-page-container .main .section-testimonials .testimonials-heading,
    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .offer-text {
        font-size: var(--medium-font);
    }
}

@media only screen and (max-width: 1340px) {
    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head {
        margin-top: 50px;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .card-content .card-subhead {
        font-size: var(--xsmall-font);
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .card-content .card-head {
        font-size: var(--regular-font);
    }
}

@media only screen and (max-width: 1255px) {

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item .search-content {
        justify-content: center;
        padding-left: 0px;
        gap: 1rem !important;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-button {
        width: 100% !important;
        display: grid;
        grid-row: 2;
        grid-column: 1 / span 3;
        justify-content: center;
        align-items: center;
    }
    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .offer-text {
        font-size: var(--semi-medium-font);
    }
    
}

@media only screen and (max-width: 1200px) {

    .landing-page-container .hero-wrapper .hero .hero-section {
        height: 650px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head {
        margin-left: 120px;
        margin-top: 0px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .hero-para {
        font-size: var(--small-font);
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .hero-heading {
        font-size: var(--medium-font);
    }


    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item {
        padding: 11px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item .search-content .card-heading {
        font-size: var(--xsmall-font);
    }

    .landing-page-container .main .section-work .rent-steps,
    .landing-page-container .main .section-deals .deals-heading .deals-subhead,
    .landing-page-container .main .section-testimonials .testimonials-heading {
        font-size: var(--semi-medium-font);
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .offer-text {
        width: 100% !important;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .card-img-container {
        margin-top: 20px;
    }

    .landing-page-container .main .section-deals .cards-row {
        justify-content: center;
    }

    .landing-page-container .main .section-deals .cards-row .card-container {
        width: 45%;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .card-content .card-subhead {
        width: 85% !important;
    }

    .landing-page-container .main .section-download {
        background-size: 50% 100%;
    }

    .landing-page-container .main .section-why-choose-us {
        height: auto;
        background-position: 0% 0%;
        background-size: 55%;
    }

    .landing-page-container .main .section-download .download-container {
        padding: 0px 70px;
    } 

    .landing-page-container .main .section-download .download-container .store-img {
        width: auto;
        height: auto;
    }
    .landing-page-container .main .section-download .download-container .download-text {
        font-size: var(--medium-font) !important;
    }
    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .hero-heading .text-easily .line-curve {
        bottom: -7px;
    }
}


@media only screen and (max-width: 991px) {

    .landing-page-container .hero-wrapper .hero .hero-section {
        height: auto;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item {
        margin-left: 20px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item::after {
        display: none;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box {
        gap: 5px;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head {
        margin: 0px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container {
        align-items: center;
        text-align: center;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .os-imgs {
        justify-content: center;
        align-items: center;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-img-container {
        margin-top: 30px;
        flex-direction: row !important;
        justify-content: end !important;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-img-container .hero-img {
        width: 80% !important;
        padding-top: 20px;
    }

    .landing-page-container .main .section-work {
        margin-top: 140px;
    }

    .landing-page-container .main .section-why-choose-us {
        height: auto;
        background-position: 0% 0%;
        background-size: 85% 45%;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container {
        margin-top: 116px;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .card-content {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .card-content .card-subhead {
        width: 100% !important;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .offer-text {
        font-size: var(--semi-medium-font);
        text-align: center;
    }

    .landing-page-container .main .section-deals .cards-row .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .card-img-container {
        margin-top: 0px;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .card-body .lamborghini-text,
    .landing-page-container .main .section-deals .cards-row {
        margin-top: 0px !important;
    }

    .landing-page-container .main .section-testimonials {
        background-position: 5% 20%, 95% 0%;
    }

    .landing-page-container .main .section-download .download-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0px;
        padding: 0px 20px;
    }

    .landing-page-container .main .section-download .download-container .download-text {
        font-size: var(--medium-font);
        width: 100% !important;
    }

    .landing-page-container .main .section-download .app-img {
        justify-content: center !important;
    }

    .landing-page-container .main .section-download .app-img .download-img {
        width: 75% !important;
    }

    .landing-page-container .main .section-download {
        background-size: 60% 50%;
    }

    .landing-page-container .main .section-download .download-container .download-placeholder {
        margin-top: 70px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item .search-content {
        justify-content: start;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-button {
        grid-row: 2;
        grid-column: 2 / span 1;
        justify-content: start;
    }
}

@media only screen and (max-width: 830px) {

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container {
        width: 438px;
        height: 794px;
        flex-direction: column !important;
        overflow: hidden;
        border-radius: 24px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-img-container {
        width: 100% !important;
        height: 50% !important;
        border-radius: 24px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-img-container .card-img {
        border-radius: 0px 0px 0px 0px !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container {
        width: 100% !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .rating-text .rating {
        font-size: 40px;
    }

    .landing-page-container .main .section-testimonials {
        background-position: 3% 13%, 98% 0%;
        background-size: 30%;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box {
        grid-template-columns: 1fr;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-button {
        grid-row: 4;
        grid-column: 1 / span 1;
        justify-content: center;
    }
    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .box .search-item {
        margin-left: 0px;
    }
    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .reviewer-name {
        margin-top: 35px !important;
    }
    
}

@media only screen and (max-width: 768px) {

    .landing-page-container .hero-wrapper {
        background-position: top right;
        background-size: 500px 710px !important;
    }

    .landing-page-container .main .section-deals .deals-heading .deals-subhead {
        text-align: center;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .card-img-container {
        height: 175px;
        margin-top: 40px;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .hr {
        width: 93%;
    }

    .landing-page-container .main .section-deals .cards-row .card-container {
        width: 100%;
    }

    .landing-page-container .main .section-why-choose-us {
        background-size: 91% 40%;
    }

    .landing-page-container .main .section-download {
        background-image: none;
    }
}


@media only screen and (max-width: 576px) {

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .hero-heading {
        font-size: var(--medium-font);
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container .hero-head .hero-para {
        font-size: var(--xsmall-font);
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two .offer-text {
        font-size: var(--semi-medium-font);
    }

    .landing-page-container .main .section-why-choose-us {
        background-size: 100% 41%;
    }

    .landing-page-container .hero-wrapper {
        background-image: none;
    }

    
}

@media only screen and (max-width: 560px) {
    .landing-page-container .main .section-why-choose-us {
        background-size: 116% 34%;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container {
        width: 300px !important;
        height: 630px !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .rating-text .rating {
        font-size: 30px !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content {
        padding: 0px 20px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .review-text {
        font-size: var(--xsmall-font) !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .reviewer-name {
        font-size: var(--regular-font) !important;
        margin-top: 28px !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .review-content {
        margin-top: 30px !important;
    }

    .landing-page-container .main .section-testimonials {
        background-size: 25% !important;
    }

    .landing-page-container .main .section-testimonials .testimonials-text {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 460px) {
    .landing-page-container .main .section-why-choose-us {
        background-size: 100% 27%;
    }
    .landing-page-container .main .section-deals .cards-row .card-container .card-img-container {
        margin-top: 10px;
    }

    .landing-page-container .main .section-download .download-container {
        padding: 0px 10px;
    }
}