/* Navbar CSS */

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .nav-menu-items .nav-item .nav-link {
    font-size: var(--small-font);
    color: var(--light-black-2);
    padding: 8px !important;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .nav-menu-items .nav-item {
    transition: 0.4s ease;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .nav-menu-items .nav-item:hover {
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .nav-menu-items .nav-item .nav-link:hover,
.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .navbar-btns .sign-in:hover {
    color: var(--primary-blue);
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .navbar-btns .sign-in:focus {
    border: 1px solid transparent;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .navbar-btns .sign-up {
    padding: 10px 32px;
    border-radius: 8px;
    background-color: var(--primary-blue);
    transition: 0.3s ease;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .navbar-btns .sign-up:hover {
    background-color: var(--primary-blue-dark);
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .navbar-btns {
    padding-right: 115px;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .nav-menu-items {
    gap: 40px;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .navigation-logo {
    padding-left: 125px;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .navbar-toggler {
    border: none;
}

.landing-page-container .hero-wrapper .navigation-container .nav-fluid .navbar-toggler:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}




/* Media Queries - Landing Page */

@media only screen and (max-width: 1399px) {
    .landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .nav-menu-items {
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .navbar-btns {
        padding-right: 0px;
        margin-top: 30px;
    }
}


@media only screen and (max-width: 992px) {
    .landing-page-container .hero-wrapper .navigation-container .nav-fluid .navigation-logo {
        padding-left: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    .landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu {
        max-width: 60%;
    }
    .landing-page-container .hero-wrapper .navigation-container {
        padding: 38px !important;
    }
}

@media only screen and (max-width: 500px) {
    .landing-page-container .hero-wrapper .navigation-container .nav-fluid .nav-menu .navbar-btns {
        flex-direction: column;
    }

    .landing-page-container .hero-wrapper .navigation-container .nav-fluid {
        padding: 0px;
    }
    
}

@media only screen and (max-width: 460px) {
    .landing-page-container .hero-wrapper{
        background-position: right top;
        background-size: 300px 740px !important;
    }
}